<!DOCTYPE html>
<html lang="en">


<head>
    <title>Uva Wellassa University</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Department of Animal Science is one of the two Departments belongs to Faculty of Animal Science and Export Agriculture which was commenced as one of the pioneering Departments in the University. The Department aims to provide specialized knowledge and skills on animal production, aquatic resources technology and value addition to national resources by producing competent and skillful graduates. The Department offeres two degree programmes namely Bachelor of Animal Science and Bachelor of Science in Aquatic Resources & Technology. Currently, Mr. N. P. P. Liyanage is heading the team of 30 staff members towards the betterment and achievement of the Department vision.">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/logo_uwu.jpg" type="image/gif">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>
                <script src="js/respond.min.js"></script>
                <![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Home</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>

                            </ul>
                            <h4>About</h4>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="vision-mission.html">Mission</a></li>
                                <li><a href="staff.html">Staff</a></li>
                                <li><a href="statistics.html">Statistics </a></li>
                                <li><a href="awards.html">Awards and Medals</a></li>
                                <li><a href="all-courses.html">Career Path</a></li>
                            </ul>


                            <h4>Programs Offered</h4>
                            <ul>
                                <li><a href="programs-offered.html">Programs Offered</a></li>

                            </ul>
                            <h4>Students</h4>
                            <ul>
                                <li><a href="http://www.vle.uwu.ac.lk/">VLE</a></li>
                                <li><a href="pdf/Academic Celendar.PDF" target="_blank">Academic Calendar</a></li>
                                <li><a href="downloads.html">Student Charter</a></li>
                                <li><a href="http://www.uwu.ac.lk/wp-content/uploads/2019/Student-Handbook-fasea-2019.pdf" target="_blank">Student Handbook</a></li>
                                <li><a href="facilities.html">Facilities and Services</a></li>
                                <li><a href="alumni.html">Alumni</a></li>
                                <li><a href="animal-science-socity.html">Animal Science Society</a></li>
                                <li><a href="aqua-club.html">Aqua Club</a></li>
                            </ul>
                            <h4>Research</h4>
                            <ul>
                                <li><a href="university-researh-committe.html">University Research Committee</a></li>
                                <li><a href="undergrduate-research.html">Undergraduate Research</a></li>
                                <li><a href="postgraduate-research.html">Postgraduate Research</a></li>
                                <li><a href="research-grant.html">Research Grantees</a></li>
                                <li><a href="research-awards.html">Research Awardees</a></li>
                                <li><a href="ircuwuw.html">International Research Conference – UWU</a></li>
                            </ul>
                            <h4>Events</h4>
                            <ul>

                                <li><a href="events-academic.html">Academic Events</a></li>
                                <li><a href="events.html">Student Events</a></li>


                            </ul>

                            <h4>Gallery</h4>
                            <ul>
                                <li><a href="gallery-photo.html">Gallery</a></li>

                            </ul>
                            <h4>Contact Us</h4>
                            <ul>
                                <li><a href="contact-us.html">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Contact: Passara road, Badulla ,90 000 ,Sri Lanka.</a>
                                </li>
                                <li><a href="#">Phone: +94 55 2226622</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="http://www.uwu.ac.lk/" target="_blank">Uva Wellassa University</a>
                                </li>
                                <!-- <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                    </li> -->
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="https://www.facebook.com/officialuwu/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>

                                <li><a href="https://twitter.com/UWU_DANS"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html" class="nav-text">Home</a>
                                </li>
                                <li class="about-menu">
                                    <a href="about.html" class="mm-arr nav-text">About us</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="#">
                                                            <img src="images/h-about.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Department of Animal Science is one of the two Departments belongs to Faculty of Animal Science and Export Agriculture which was commenced as one of the pioneering Departments in the University. </p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="about.html">About</a></li>
                                                        <li><a href="vision-mission.html">Mission</a></li>
                                                        <li><a href="staff.html">Staff</a></li>
                                                        <li><a href="statistics.html">Statistics </a></li>
                                                        <li><a href="awards.html">Awards and Medals</a></li>

                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li style="padding-right: 130px;"><a href="career-path.html">Career Path</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="programs-offered.html">Programs Offered</a></li>
                                <!--<li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>-->
                                <li class="cour-menu">
                                    <a href="#!" class="mm-arr nav-text">Students</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos1">
                                        <div class="cour-mm m-menu1">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com1 mm1-cour-com mm1-s3">

                                                    <ul>
                                                        <li><a href="http://www.vle.uwu.ac.lk/">VLE</a></li>
                                                        <li><a href="pdf/Academic Celendar.PDF" target="_blank">Academic Calendar</a></li>
                                                        <li><a href="downloads.html">Student Charter</a></li>
                                                        <li><a href="http://www.uwu.ac.lk/wp-content/uploads/2019/Student-Handbook-fasea-2019.pdf" target="_blank">Student Handbook</a></li>
                                                        <li><a href="facilities.html">Facilities and Services</a></li>
                                                        <li><a href="alumni.html">Alumni</a></li>
                                                        <li><a href="animal-science-socity.html">Animal Science Society</a></li>
                                                        <li><a href="aqua-club.html">Aqua Club</a></li>
                                                    </ul>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cour-menu1">
                                    <a href="#!" class="mm-arr nav-text">Research</a>
                                    <div class="mm-pos1">
                                        <div class="cour-mm1 m-menu2">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com1 mm1-cour-com mm1-s3">

                                                    <ul>
                                                        <li><a href="university-researh-committe.html">University Research Committee</a></li>
                                                        <li><a href="undergrduate-research.html">Undergraduate Research</a></li>
                                                        <li><a href="postgraduate-research.html">Postgraduate Research</a></li>
                                                        <li><a href="research-grant.html">Research Grantees</a></li>
                                                        <li><a href="research-awards.html">Research Awardees</a></li>
                                                        <li><a href="ircuwuw.html">International Research Conference – UWU</a></li>

                                                    </ul>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cour-menu2">
                                    <a href="#!" class="mm-arr nav-text">Events</a>

                                    <div class="mm-pos1">
                                        <div class="cour-mm2 m-menu3">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com1 mm1-cour-com mm1-s3">

                                                    <ul>
                                                        <li><a href="events-academic.html">Academic Events</a></li>
                                                        <li><a href="events.html">Student Events</a></li>


                                                    </ul>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="gallery-photo.html" class="nav-text">Gallery</a>
                                </li>
                                <li><a href="contact-us.html" class="nav-text">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="course-details-ANS.html">Bachelor of Animal Science</a></li>
                                            <li><a href="course-details-AQT.html">Bachelor of Science in Aquatic Resources and Technology</a></li>
                                            <li><a href="http://www.uwu.ac.lk/academic/faculties/animal-science-and-export-agriculture/postgraduate-eag-ans/">Postgraduate Degrees by Research (M.Phil./Ph.D.)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>ANS <span>Trophy</span></h2>

                        </div>
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
                                    <li>
                                        <div class="ed-ad-img">
                                            <img src="images/adv/5.png" alt="">
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">



                                            <p style=" text-align: justify;">The “ANS Trophy” football tournament has been proudly presenting since year 2008 followed by 11 consecutive years as an annual game event in the Uva Wellassa University history.</p>
                                            <p style="text-align: justify">The event is organized by the students of Animal Science Degree Program destined to bring out the sport talents of the university students and enlighten their talents.</p>
                                </ul>

                                </div>
                                <div class="row">
                                    <div class="cor about-sp h-gal ed-pho-gal">
                                        <h3>ANS Trophy - 2013</h3>
                                        <ul>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2013" src="images/event/ANS Trophy/2013/1.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2013" src="images/event/ANS Trophy/2013/2.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2013" src="images/event/ANS Trophy/2013/3.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2013" src="images/event/ANS Trophy/2013/4.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2013" src="images/event/ANS Trophy/2013/5.jpg" alt="">
                                            </li>



                                        </ul>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="cor about-sp h-gal ed-pho-gal">
                                        <h3>ANS Trophy - 2015</h3>
                                        <ul>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2015" src="images/event/ANS Trophy/2015/1.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2015" src="images/event/ANS Trophy/2015/3.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2015" src="images/event/ANS Trophy/2015/4.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2015" src="images/event/ANS Trophy/2015/5.jpg" alt="">
                                            </li>



                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="cor about-sp h-gal ed-pho-gal">
                                        <h3>ANS Trophy - 2016</h3>
                                        <ul>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2016" src="images/event/ANS Trophy/2016/1.jpg" alt="">
                                            </li>

                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2016" src="images/event/ANS Trophy/2016/3.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2016" src="images/event/ANS Trophy/2016/4.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2016" src="images/event/ANS Trophy/2016/5.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2016" src="images/event/ANS Trophy/2016/6.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2016" src="images/event/ANS Trophy/2016/7.jpg" alt="">
                                            </li>




                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="cor about-sp h-gal ed-pho-gal">
                                        <h3>ANS Trophy - 2017</h3>
                                        <ul>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/1.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/3.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/5.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/7.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/5.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/6.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/2.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/11.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2017" src="images/event/ANS Trophy/2017/8.jpg" alt="">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="cor about-sp h-gal ed-pho-gal">
                                        <h3>ANS Trophy - 2018</h3>
                                        <ul>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/1.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/2.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/3.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/4.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/5.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/6.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/7.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/8.jpg" alt="">
                                            </li>
                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/9.jpg" alt="">
                                            </li>

                                            <li><img class="materialboxed" data-caption="ANS Trophy - 2018" src="images/event/ANS Trophy/2018/11.jpg" alt="">
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/aucalogo256.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h1 style="color: white">AQUA Forum 2019</h1>
                            <p>Nurturing The 21 Milion : Towards The Blue Economy</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="https://twitter.com/UWU_DANS/status/1192436181046321154" target="_blank">Get Updates</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
				<div class="col-md-12">
				<h4>About Wedding Planner</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
				<p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				<p></p>
			  </div>
			  </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Courses</h4>
                    <ul>
                        <li><a href="course-details-ANS.html">Bachelor of Animal Science Honours</a></li>

                        <li><a href="course-details-AQT.html">Bachelor of Science Honours in Aquatic Resources Technology</a></li>
                        <li><a href="http://www.uwu.ac.lk/academic/faculties/animal-science-and-export-agriculture/postgraduate-eag-ans/">Postgraduate Degrees</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>PUBLICATIONS</h4>
                    <ul>
                        <li><a href="http://www.uwu.ac.lk/wp-content/uploads/2019/Student-Handbook-fasea-2019.pdf" target="_blank">Student Handbook</a></li>
                        <li><a href="java.html">JOURNAL OF AGRICULTURE AND VALUE ADDITION (JAVA)</a></li>
                        <li><a href="http://www.uwu.ac.lk/academic/faculties/animal-science-and-export-agriculture/16225-2/">Proceedings of Research Conferences</a></li>
                        <li><a href="ans-newsletter.html">ANS Newsletter</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="contact-us.html">Contact us</a>
                        </li>
                        <li><a href="http://">&nbsp;</a>
                        </li>
                        <li><a href="FAQs.html">FAQs</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address:Badulla ,90 000 ,Sri Lanka</p>
                    <p>Phone: <a href="#!">+94 55 2226622</a></p>
                    <p>Email: <a href="#!">headans@uwu.ac.lk</a></p>
                </div>
                <div class="col-md-4">
                    <h4>Collaboration</h4>
                    <ul>
                        <li>
                            <a href="http://www.mohe.gov.lk/" target="_blank"><img src="images/mohe_.png" style="width:60px;border-radius: 5px"></a>
                        </li>
                        <li>
                            <a href="http://www.ugc.ac.lk/" target="_blank"><img src="images/ugc_.png" style="width:60px;border-radius: 5px"></a>
                        </li>
                        <li>
                            <a href="https://ahead.lk/" target="_blank"><img src="images/ahed.png" style="width:100px;border-radius: 5px"></a>
                        </li>
                        <li>
                            <a href="https://www.eugc.ac.lk/qac/" target="_blank"><img src="images/QAC-UGC.png" style="width:100px;border-radius: 2px;"></a>
                        </li>

                        <li>
                            <a href="http://plus.cnu.ac.kr/html/en/sub02/sub02_020106.html#link" target="_blank"><img src="images/CNU.png" style="width:100px;border-radius: 2px"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://twitter.com/AnimalscienceU"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <a target="_blank" href="#"></a>Copyright 2019, Uva Wellassa University.</a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="https://twitter.com/AnimalscienceU"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="https://twitter.com/AnimalscienceU"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="https://www.facebook.com/officialuwu/" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>

                <li><a href="https://twitter.com/AnimalscienceU" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="mailto: headans@uwu.ac.lk" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>