<!DOCTYPE html>
<html lang="en">


<head>
    <title>Uva Wellassa University</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Department of Animal Science is one of the two Departments belongs to Faculty of Animal Science and Export Agriculture which was commenced as one of the pioneering Departments in the University. The Department aims to provide specialized knowledge and skills on animal production, aquatic resources technology and value addition to national resources by producing competent and skillful graduates. The Department offeres two degree programmes namely Bachelor of Animal Science and Bachelor of Science in Aquatic Resources & Technology. Currently, Mr. N. P. P. Liyanage is heading the team of 30 staff members towards the betterment and achievement of the Department vision.">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/logo_uwu.jpg" type="image/gif">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>
                <script src="js/respond.min.js"></script>
                <![endif]-->
</head>

<body>

    <!-- naviagtion bar start here -->
    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Home</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>

                            </ul>
                            <h4>About</h4>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="vision-mission.html">Mission</a></li>
                                <li><a href="staff.html">Staff</a></li>
                                <li><a href="statistics.html">Statistics </a></li>
                                <li><a href="awards.html">Awards and Medals</a></li>
                                <li><a href="all-courses.html">Career Path</a></li>
                            </ul>

                            <h4>Programs Offered</h4>
                            <ul>
                                <li><a href="programs-offered.html">Programs Offered</a></li>

                            </ul>
                            <h4>Students</h4>
                            <ul>
                                <li><a href="http://www.vle.uwu.ac.lk/">VLE</a></li>
                                <li><a href="pdf/Academic Celendar.PDF" target="_blank">Academic Calendar</a></li>
                                <li><a href="downloads.html">Student Charter</a></li>
                                <li><a href="http://www.uwu.ac.lk/wp-content/uploads/2019/Student-Handbook-fasea-2019.pdf" target="_blank">Student Handbook</a></li>
                                <li><a href="facilities.html">Facilities and Services</a></li>
                                <li><a href="alumni.html">Alumni</a></li>
                                <li><a href="animal-science-socity.html">Animal Science Society</a></li>
                                <li><a href="aqua-club.html">Aqua Club</a></li>
                            </ul>
                            <h4>Research</h4>
                            <ul>
                                <li><a href="university-researh-committe.html">University Research Committee</a></li>
                                <li><a href="undergrduate-research.html">Undergraduate Research</a></li>
                                <li><a href="postgraduate-research.html">Postgraduate Research</a></li>
                                <li><a href="research-grant.html">Research Grantees</a></li>
                                <li><a href="research-awards.html">Research Awardees</a></li>
                                <li><a href="ircuwuw.html">International Research Conference – UWU</a></li>
                            </ul>
                            <h4>Events</h4>
                            <ul>

                                <li><a href="events-academic.html">Academic Events</a></li>
                                <li><a href="events.html">Student Events</a></li>

                            </ul>

                            <h4>Gallery</h4>
                            <ul>
                                <li><a href="gallery-photo.html">Gallery</a></li>

                            </ul>
                            <h4>Contact Us</h4>
                            <ul>
                                <li><a href="contact-us.html">Contact Us</a></li>

                            </ul>
                            <h4>UWU</h4>
                            <ul>
                                <li><a href="http://www.uwu.ac.lk/" class="nav-text">UWU</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Contact: Passara road, Badulla ,90 000 ,Sri Lanka.</a>
                                </li>
                                <li><a href="#">Phone: +94 55 2226622</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="http://www.uwu.ac.lk/" target="_blank">Uva Wellassa University</a>
                                </li>
                                <!-- <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="https://www.facebook.com/officialuwu/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>

                                <li><a href="https://twitter.com/UWU_DANS"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html" class="nav-text">Home</a>
                                </li>
                                <li class="about-menu">
                                    <a href="about.html" class="mm-arr nav-text">About us</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="#">
                                                            <img src="images/h-about.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Department of Animal Science is one of the two Departments belongs to Faculty of Animal Science and Export Agriculture which was commenced as one of the pioneering Departments in the University. </p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="about.html">About</a></li>
                                                        <li><a href="vision-mission.html">Mission</a></li>
                                                        <li><a href="staff.html">Staff</a></li>
                                                        <li><a href="statistics.html">Statistics </a></li>
                                                        <li><a href="awards.html">Awards and Medals</a></li>

                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li style="padding-right: 130px;"><a href="career-path.html">Career Path</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="programs-offered.html">Programs Offered</a></li>
                                <!--<li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>-->
                                <li class="cour-menu">
                                    <a href="#!" class="mm-arr nav-text">Students</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos1">
                                        <div class="cour-mm m-menu1">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com1 mm1-cour-com mm1-s3">

                                                    <ul>
                                                        <li><a href="http://www.vle.uwu.ac.lk/">VLE</a></li>
                                                        <li><a href="pdf/Academic Celendar.PDF" target="_blank">Academic Calendar</a></li>
                                                        <li><a href="downloads.html">Student Charter</a></li>
                                                        <li><a href="http://www.uwu.ac.lk/wp-content/uploads/2019/Student-Handbook-fasea-2019.pdf" target="_blank">Student Handbook</a></li>
                                                        <li><a href="facilities.html">Facilities and Services</a></li>
                                                        <li><a href="alumni.html">Alumni</a></li>
                                                        <li><a href="animal-science-socity.html">Animal Science Society</a></li>
                                                        <li><a href="aqua-club.html">Aqua Club</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cour-menu1">
                                    <a href="#!" class="mm-arr nav-text">Research</a>
                                    <div class="mm-pos1">
                                        <div class="cour-mm1 m-menu2">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com1 mm1-cour-com mm1-s3">

                                                    <ul>
                                                        <li><a href="university-researh-committe.html">University Research Committee</a></li>
                                                        <li><a href="undergrduate-research.html">Undergraduate Research</a></li>
                                                        <li><a href="postgraduate-research.html">Postgraduate Research</a></li>
                                                        <li><a href="research-grant.html">Research Grantees</a></li>
                                                        <li><a href="research-awards.html">Research Awardees</a></li>
                                                        <li><a href="ircuwuw.html">International Research Conference – UWU</a></li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cour-menu2">
                                    <a href="#!" class="mm-arr nav-text">Events</a>

                                    <div class="mm-pos1">
                                        <div class="cour-mm2 m-menu3">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com1 mm1-cour-com mm1-s3">

                                                    <ul>
                                                        <li><a href="events-academic.html">Academic Events</a></li>
                                                        <li><a href="events.html">Student Events</a></li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="gallery-photo.html" class="nav-text">Gallery</a>
                                </li>
                                <li><a href="contact-us.html" class="nav-text">Contact us</a>
                                </li>
                                <li><a href="http://www.uwu.ac.lk/" class="nav-text">UWU</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <!-- naviagtion bar end here -->
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="course-details-ANS.html">Bachelor of Animal Science</a></li>
                                            <li><a href="course-details-AQT.html">Bachelor of Science in Aquatic Resources and Technology</a></li>
                                            <li><a href="http://www.uwu.ac.lk/academic/faculties/animal-science-and-export-agriculture/postgraduate-eag-ans/">Postgraduate Degrees by Research (M.Phil./Ph.D.)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>Meet the <span>Graduates</span></h2>
                            <br><br>
                            <!--Graduate profile-->
                            <div class="row">
                                <div class="col-md-4">

                                    <video width="100%" controls>
                                        <source src="videos/1.mp4" type="video/mp4">
                                       
                                        Your browser does not support the video tag.
                                      </video>
                                    <p style="text-align: left;font-size: 15px;"><strong> U.D.P. Manjula </strong><br> BASc Hons (UWU, Sri Lanka)
                                        <br> MSc (Chungnam National University, South Korea)
                                        <br> Graduate Research Assistant/PhD Candidate Dept.of Animal Science and Biotechnology <br> College of Agriculture and Life Sciences <br> Chungnam National University <br>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <video width="100%" controls>
                                        <source src="videos/2.mp4" type="video/mp4">
                                       
                                        Your browser does not support the video tag.
                                      </video>
                                    <p style="text-align: left;font-size: 15px;"><strong> Dr. S.S. Wickramasuriya </strong><br> BASc Hons (UWU, Sri Lanka) <br> MSc (Chungnam National University, South Korea) <br> PhD (Chungnam National University, South Korea) <br>


                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <video width="100%" controls>
                                        <source src="videos/3.mp4" type="video/mp4">
                                       
                                        Your browser does not support the video tag.
                                      </video>
                                    <p style="text-align: left;font-size: 15px;"><strong> Mrs. H.I.Wijayananda </strong><br> BSc Hons (UWU, Sri Lanka) <br> Graduate Research Assistant/MSc Candidate <br> Dept. of Animal Science and Biotechnology <br> College of Agriculture and Life Sciences <br>                                        Chungnam National University <br>


                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/grduates/N_Ranaweera.png" alt="" srcset="" class="img-thumbnail">
                                    <p style="text-align: left;font-size: 15px;"><strong> N.Ranaweera </strong><br> Lecturer in Ruminant Nutrition Department of Animal Science Faculty of Animal Science and Export Agriculture Uva Wellassa University of Sri Lanka</p>
                                </div>
                                <div class="col-md-8">
                                    <p style="text-align: justify;font-size: 15px;">Becoming an Animal Science graduate at Uva Wellassa University wasone of the most valuable decisions that I made in my life. My passion towards Animal Science, particularly Dairy Cattle Management and Nutrition, was
                                        one of the major reasons why I chose Animal Science Degree programme. However, the Broad General Education I obtained through my degree pushed me beyond the limits I expected and opened newer avenues for my career
                                        path. Through Animal Science degree programme, I had the privilege not only to gain knowledge and skills on Animal Husbandry but also a thorough knowledge on Food Sciences, Genetics, Economics and Basics of Accounting
                                        and Business Studies was gained. It provided me with a multidisciplinary approach in decisions I made throughout my life. </p>
                                    <p style=" text-align: justify;font-size: 15px;">Benefiting my passion, my degree facilitated me to further work on the field of study I loved. Hence, after my graduation I had anopportunity to work as a Research Assistant while studying for my MPhil and then as a
                                        Commercial Farm Consultant in private sector. The broader working capacity I had gained through my basic degree was a blessing in every opportunity I had. Today, as a Lecturerin Animal Science degree programmeinUva
                                        Wellassa University I wish to pay my gratitude towards my degree programme and my University for making my life worth living along my dreams.</p>

                                </div>
                            </div>
                            <hr>



                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/grduates/A_Kulasinghe.png" alt="" srcset="" class="img-thumbnail">
                                    <p style="text-align: left;font-size: 15px;"><strong>A. Kulasinghe</strong><br> BASc Hons (UWU, Sri Lanka) MPhil in Food Science and Technology, University of Peradeniya (reading) Manager: University Business Linkage Cell, UvaWellassa University. Proprietor: Delicatus
                                        Cookies, Matale.</p>
                                </div>
                                <div class="col-md-8">
                                    <p style="text-align: justify;font-size: 15px;">The four years I spent at UvaWellassa University enhanced my knowledge, skills and talents in a multidisciplinary environment. It had given me the opportunity to enhance my potentials and creativity to become a successful
                                        innovator and an entrepreneur while developing my academic career as well.</p>

                                </div>
                            </div>
                            <hr>

                            <div class="row">

                                <div class="col-md-8">
                                    <p style="text-align: justify;font-size: 15px;">At UvaWellassa University we were one family. UWU family was a platform for me to overcome my weaknesses and discover my potentials. The ability to face the challenges not only in my profession but also in my life was
                                        gained through my beloved university.</p>

                                </div>
                                <div class="col-md-4">
                                    <img src="images/grduates/1.png" alt="" srcset="" class="img-thumbnail">
                                    <p style="text-align: left;font-size: 15px;"><strong> R. I. Wijethilaka </strong><br> BASc Hons (UWU, Sri Lanka) Manager Dayagama Farm, National Livestock Development Board.</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/grduates/MBJ_Malcolm.png" alt="" srcset="" class="img-thumbnail">
                                    <p style="text-align: left;font-size: 15px;"><strong>M.B. J. Malcolm </strong><br> BASc Hons (UWU Sri Lanka) Dip. In Public Administration Assistant Divisional Secretary, Weliwitiya, Divithura</p>
                                </div>
                                <div class="col-md-8">
                                    <p style="text-align: justify;font-size: 15px;">The undergraduate period at UvaWellassa University was an unforgettable period of my life. As an Animal Science graduate I was able to gather vast knowledge in my field of study and it helped me to enter in to Sri Lanka
                                        Administrative Services (SLAS) as well. We were able to finish our degree programme exactly in 4 years’ time. That helped me to save my valuable time as well as the valuable money of general public in Sri Lanka.
                                        UWU is the place which changed the path of my life.</p>

                                </div>
                            </div>
                            <hr>

                            <div class="row">

                                <div class="col-md-8">
                                    <p style="text-align: justify;font-size: 15px;">We are taking decisions in every single moment in our lives. Some are routine while the others have less impact on our future. For these decisions, we do not need significant efforts and time. But others are so challenging
                                        that they require us to set a selection criterion. The precise choice to join with UWU family before seven years ago, has enlightened my life. Throughout the period of four years, I gained a thorough knowledge onAquatic
                                        Resources Technology in which I was fully involved and was fully aware of the value and current importance of it. Also, the course curriculum does not only focus to develop a person armed with the aquatic resources
                                        technologies but also equip by adding the Broad General (BGE) and Essential Skill Development (ESD) courses as a flagship in the society. </p>
                                    <p style=" text-align: justify;font-size: 15px;">Though this was a short period, I made a big impact in fisheries management field in the country as a scientist by proposing novel approaches towards sustainable utilistion of resources. Undoubtedly, I can say that
                                        the foundation of my degree with appropriate knowledge and confidence, which brought me up to the present position of Lecturer in Fisheries Management attached to the Department of Animal Science at Uva Wellassa
                                        University. I will be pleased to see more and more enthusiastic scholars entering to the Uva Wellassa University, who can add values to national resources with anaim to make a betterment future to the country. I
                                        sincerely hope that I will be able to share a dream with you all, who will join with us.</p>

                                </div>
                                <div class="col-md-4">
                                    <img src="images/grduates/2.png" alt="" srcset="" class="img-thumbnail">
                                    <p style="text-align: left;font-size: 15px;"><strong> P. C. B. Dias </strong><br> Lecturer in Fisheries Management Department of Animal Science Faculty of Animal Science and Export Agriculture Uva Wellassa University of Sri Lanka</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/grduates/S_Jayasinghe.png" alt="" srcset="" class="img-thumbnail">
                                    <p style="text-align: left;font-size: 15px;"><strong> S. Jayasinghe </strong><br> Assistant Superintendent of Customs  BSc (sp) in Aquatic Resources Technology (1st Batch)</p>
                                </div>
                                <div class="col-md-8">
                                    <p style="text-align: justify;font-size: 15px;">In year 2009, I started reading for my Bachelor's at UWU and after completion of four years, I graduated with a special degree in Aquatic Resources Technology while receiving the Vice Chancellor's award for the best
                                        performance in Aquatic Resources Technology degree programme. As undergraduates we were guided by our lecturers to gain the maximum knowledge during lectures and practicals. Further, we had well planned field trainings
                                        throughout the four years that led us to gain the practical exposure in the field of Aquaculture. As an Assistant Superintendent of Customs, currently attached to the Biodiversity, Cultural and National Heritage
                                        Protection Division of Sri Lanka Customs, I am having a successful career. I am proud to be a product of UWU. </p>

                                </div>
                            </div>
                            <hr>

                            <div class="row">

                                <div class="col-md-8">
                                    <p style="text-align: justify;font-size: 15px;">I graduated from UWU with a BSc in Aquatic Resources Technology in 2015. Currently, I am a graduate student and a research assistant at the University of Massachusetts Dartmouth's School for Marine Science and Technology
                                        in the USA. UWU increased my standards to a higher level through its well-rounded higher education and scholastic approaches. I am forever grateful and happy to express the key role UWU played in fostering my success.</p>

                                </div>
                                <div class="col-md-4">
                                    <img src="images/grduates/NSS_Etige.png" alt="" srcset="" class="img-thumbnail">
                                    <p style="text-align: left;font-size: 15px;"><strong> N. S. S. Etige </strong><br> Graduate Research Assistant / MS Candidate SMAST Student Representative Oceanographic Modelling & Analysis Laboratory School for Marine Science and Technology University of Massachusetts Dartmouth
                                        836, S. Rodney French Blvd New Bedford, MA 02744 USA</p>
                                </div>
                            </div>
                            <hr>

                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h1 style="color: white">AQUA Forum 2019</h1>
                            <p> Coming Soon</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="course-details.html">Book This Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
				<div class="col-md-12">
				<h4>About Wedding Planner</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
				<p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				<p></p>
			  </div>
			  </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Courses</h4>
                    <ul>
                        <li><a href="course-details-ANS.html">Bachelor of Animal Science Honours</a></li>

                        <li><a href="course-details-AQT.html">Bachelor of Science Honours in Aquatic Resources Technology</a></li>
                        <li><a href="http://www.uwu.ac.lk/academic/faculties/animal-science-and-export-agriculture/postgraduate-eag-ans/">Postgraduate Degrees</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>PUBLICATIONS</h4>
                    <ul>
                        <li><a href="http://www.uwu.ac.lk/wp-content/uploads/2019/Student-Handbook-fasea-2019.pdf" target="_blank">Student Handbook</a></li>
                        <li><a href="java.html">JOURNAL OF AGRICULTURE AND VALUE ADDITION (JAVA)</a></li>
                        <li><a href="http://www.uwu.ac.lk/academic/faculties/animal-science-and-export-agriculture/16225-2/">Proceedings of Research Conferences</a></li>
                        <li><a href="ans-newsletter.html">ANS Newsletter</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="contact-us.html">Contact us</a>
                        </li>
                        <li><a href="http://">&nbsp;</a>
                        </li>
                        <li><a href="FAQs.html">FAQs</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address:Badulla ,90 000 ,Sri Lanka</p>
                    <p>Phone: <a href="#!">+94 55 2226622</a></p>
                    <p>Email: <a href="#!">headans@uwu.ac.lk</a></p>
                </div>
                <div class="col-md-4">
                    <h4>Collaboration</h4>
                    <ul>
                        <li>
                            <a href="http://www.mohe.gov.lk/" target="_blank"><img src="images/mohe_.png" style="width:60px;border-radius: 5px"></a>
                        </li>
                        <li>
                            <a href="http://www.ugc.ac.lk/" target="_blank"><img src="images/ugc_.png" style="width:60px;border-radius: 5px"></a>
                        </li>
                        <li>
                            <a href="https://ahead.lk/" target="_blank"><img src="images/ahed.png" style="width:100px;border-radius: 5px"></a>
                        </li>
                        <li>
                            <a href="https://www.eugc.ac.lk/qac/" target="_blank"><img src="images/QAC-UGC.png" style="width:100px;border-radius: 2px;"></a>
                        </li>

                        <li>
                            <a href="http://plus.cnu.ac.kr/html/en/sub02/sub02_020106.html#link" target="_blank"><img src="images/CNU.png" style="width:100px;border-radius: 2px"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://twitter.com/AnimalscienceU"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <a target="_blank" href="#"></a>Copyright 2019, Uva Wellassa University.</a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="https://twitter.com/AnimalscienceU"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="https://twitter.com/AnimalscienceU"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="https://www.facebook.com/officialuwu/" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>

                <li><a href="https://twitter.com/AnimalscienceU" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="mailto: headans@uwu.ac.lk" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>